html{
    background-image: url('texture/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.titolo{
    font-family: "comic Sans MS";
    width: 100vw;
    color: white;
    text-align: center;
    position: absolute;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 64px;
}

.bottone{
    font-family: "comic Sans MS";
    color: white;
    text-align: center;
    position: absolute;
    font-size: 64px;
    margin-left: 46%;
    margin-right: 46%;
    margin-top: 46vh;
    background-color: transparent;
    border: none;
}

.bottonen{
    display: none;
}
